<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="Esta es mi pagina de contacto">
    <title>contacto</title>

    <!-- Style -->
    <link rel="stylesheet" href="/public/stylesheets/contacto.css">
</head>
<body>
    <h1>Contactoooooooo</h1>
</body>
</html>